<template>
  <div class="graphs-wrapper flex-box" v-if="showGraph">
    <div class="illustration graph-box">
      <input type="text" class="font-15 font-medium percent-input" v-model="yesPercent"/>
      <illustration color="#FF5F3C" :yes-percent="yesPercent"/>
    </div>
    <div class="progress-wheel graph-box flex-box">
      <progress-wheel
        stroke-color="rgba(85, 76, 246, 1)"
        background-color="rgba(85, 76, 246, 0.4)"
        :width="300"
        :stroke-width="20"
        :progress="progressValue"
      >
      </progress-wheel>
    </div>
    <line-area-graph
      ref="lineAreaGraph"
      class="line-area-graph graph-box"
      :graph-data="lineGraphData"
      :area-graph-data="areaGraphData"
    >
    </line-area-graph>

  </div>
</template>

<script>
import { onMounted, ref } from 'vue'

import Illustration from '@/components/Illustration.vue'
import LineAreaGraph from '@/components/LineAreaGraph.vue'
import ProgressWheel from '@/components/ProgressWheel.vue'

export default {
  name: 'SvgGraphs',
  components: {
    LineAreaGraph,
    ProgressWheel,
    Illustration
  },
  setup () {
    const areaGraphData = [{
      x: '2021',
      y: 6
    },
    {
      x: '2022',
      y: 17
    },
    {
      x: '2023',
      y: 25
    },
    {
      x: '2024',
      y: 12
    },
    {
      x: '2025',
      y: 23
    }]
    const lineAreaGraph = ref(null)
    const lineGraphData = ref([
      {
        x: 'IPO-2',
        y0: {
          index: 0,
          value: 7
        },
        y1: {
          index: 1,
          value: 25
        },
        y2: {
          index: 2,
          value: 18
        },
        y3: {
          index: 3,
          value: 14
        }
      },
      {
        x: 'IPO-1',
        y0: {
          index: 0,
          value: 28
        },
        y1: {
          index: 1,
          value: 13
        },
        y2: {
          index: 2,
          value: 21
        },
        y3: {
          index: 3,
          value: 18
        }
      },
      {
        x: 'IPO',
        y0: {
          index: 0,
          value: 32
        },
        y1: {
          index: 1,
          value: 18
        },
        y2: {
          index: 2,
          value: 28
        },
        y3: {
          index: 3,
          value: 17
        }
      },
      {
        x: 'IPO+1',
        y0: {
          index: 0,
          value: 12
        },
        y1: {
          index: 1,
          value: 36
        },
        y2: {
          index: 2,
          value: 18
        },
        y3: {
          index: 3,
          value: 23
        }
      },
      {
        x: 'IPO+2',
        y0: {
          index: 0,
          value: 9
        },
        y1: {
          index: 1,
          value: 34
        },
        y2: {
          index: 2,
          value: 18
        },
        y3: {
          index: 3,
          value: 26
        }
      }
    ])

    const progressValue = ref(40)
    const showGraph = ref(false)
    const yesPercent = ref(20)

    onMounted(() => {
      showGraph.value = true
      setTimeout(() => {
        lineAreaGraph.value.animateGraph()
      }, 1000)
    })

    return {
      areaGraphData,
      lineAreaGraph,
      lineGraphData,
      progressValue,
      showGraph,
      yesPercent
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/style/color-library.scss";

.graphs-wrapper {
  height: 100%;
  width: 100%;
  background-color: $primary;
  padding: 120px 0;
}
.graph-box {
  height: 350px;
  width: 923px;
  border: 1px solid $border-color;
  border-radius: 8px;
  margin-bottom: 40px;
  background-color: $background;
}
.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.line-area-graph::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.percent-input {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid $border-color;
  caret-color: $border-color;
  padding: 16px;
  box-sizing: border-box;
  outline: none;
  background-color: $primary;
  color: $white;
  &:focus {
    outline: none;
  }
}

.illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

</style>
