
@import './color-library.scss';

@font-face {
  font-family: 'WorkSansReg';
  src:url('../assets/font/work-sans-v11-latin-regular.woff') format('woff'),
        url('../assets/font/work-sans-v11-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// use this for font-weight:500
@font-face {
  font-family: 'WorkSansMedium';
  src: url('../assets/font/work-sans-v11-latin-500.woff') format('woff'),
        url('../assets/font/work-sans-v11-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

// use this for font-weight:600
@font-face {
  font-family: 'WorkSansSemiBold';
  src:  url('../assets/font/work-sans-v11-latin-600.woff') format('woff'),
        url('../assets/font/work-sans-v11-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

// use this for font-weight:700 or font-weight:bold
@font-face {
  font-family: 'WorkSansBold';
  src:  url('../assets/font/work-sans-v11-latin-700.woff') format('woff'),
        url('../assets/font/work-sans-v11-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// use this for font-weight:600
@font-face {
  font-family: 'WorkSansBodyBold';
  src: url('../assets/font/work-sans-v11-latin-600.woff') format('woff'),
        url('../assets/font/work-sans-v11-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: 'WorkSansReg';
  font-size: 16px;
}

.axis {
  path {
    stroke: $axis-color;
    opacity: 0.15;
  }
  text {
    fill: $tooltip-text;
    font-weight: 500;
    font-family: "WorkSansMedium";
    font-size: 13px;
  }
}

.y-axis {
  text {
    fill: $tooltip-text;
  }
}

.y-axis-dbc {
  text {
    fill: $tooltip-text;
  }

  .domain {
    stroke: $tooltip-text;
    opacity: 0.08;
  }
}

.grid {
  .tick {
    opacity: 0.2;
    stroke: $tooltip-text;
    stroke-width: 1;
    stroke-dasharray: 3;
    &:first-of-type {
      opacity: 0;
    }
  }

  path {
    stroke-width: 0;
  }
}

.grid-complete {
  .tick {
    line {
      opacity: 0.15;
      stroke: $tooltip-text;
      stroke-width: 1;
    }
  }

  path {
    stroke-width: 0;
  }
}

.grid-complete-dashed {
  .tick {
    opacity: 0.15;
    stroke: $tooltip-text;
    stroke-width: 1;
    stroke-dasharray: 3;
  }

  path {
    stroke-width: 0;
  }
}
.grid-complete-dashed-efficiency {
  .tick {
    opacity: 0.13;
    stroke: $tooltip-text;
    stroke-width: 0.5;
    stroke-dasharray: 4;
  }

  path {
    stroke-width: 0;
  }
}
.axis-subtext {
  color: $white;
  opacity: 0.5;
}

.areapath {
  fill: none;
  stroke-width: 3;
}
.areadashedpath {
  fill: none;
  stroke-width: 3;
}
.arealinefill {
  stroke-width: 0;
  stroke-opacity: 0;
  stroke-linejoin: round;
}
.linepath {
  fill: none;
  stroke-width: 2;
}
.dashedlinepath {
  fill: none;
  stroke-width: 2;
}
.staticpath {
  fill: none;
  stroke-width: 1.5;
  stroke-dasharray: 5,5;
}
.circle {
  fill: $tooltip-text;
  stroke-width: 1.5;
}

.tooltipline {
  stroke-width: 1.5;
  stroke: $tooltip-text;
}

h1, h2, h3, h4, h5, h6, p, div, ul, ol, li, label {
  margin: 0px;
  padding: 0px;
  list-style: none;
}