$primary: #2D2A2E;
$background: #16081a;
$secondary: #767477;
$axis-color: #767477;
$no-data: #FF5F3C;
$graph-green: #7FC222;
$graph-red: #FF4F53;
$graph-purple: #7F61AB;
$graph-blue: #389FEA;
$graph-yellow: #FCBF2E;
$white: #FFFFFF;
$tooltip-text: #BEBEBF;
$tooltip-background: #373438;
$background-input: #F8F8F8;
$border-color: #E8E8E8;
