@import './color-library.scss';

$font-size-32: 32px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-19: 19px;
$font-size-17: 17px;
$font-size-16: 16px;
$font-size-15: 15px;
$font-size-14: 14px;
$font-size-13: 13px;
$font-size-11: 11px;
$font-size-9: 9px;
$font-size-8: 8px;
$line-height-40: 40px;
$line-height-36: 36px;
$line-height-32: 32px;
$line-height-30: 30px;
$line-height-25: 25px;
$line-height-24: 24px;
$line-height-22: 22px;
$line-height-20: 20px;
$line-height-17: 17px;
$line-height-16: 16px;
$line-height-14: 14px;
$line-height-12: 12px;
$letter-spacing-30: -0.03em;
$letter-spacing-40: -0.04em;
$letter-spacing-28: -0.028em;
$letter-spacing-25: -0.025em;
$letter-spacing-2: -0.02em;

.title {
  &-32 {
    font-size: $font-size-32;
    line-height: $line-height-40;
    color: $primary;
    letter-spacing: $letter-spacing-30;
  }
  &-24 {
    font-size: $font-size-24;
    line-height: $line-height-32;
    color: $primary;
    letter-spacing: $letter-spacing-2;
  }

  &-bold {
    font-family: "WorkSansBold"; // use this for font-weight:700
    font-weight: 700;
  }
  &-semi-bold {
    font-family: "WorkSansSemiBold"; // use this for font-weight:600
    font-weight: 600;
  }
  &-medium {
    font-family: "WorkSansMedium"; // use this for font-weight:500
    font-weight: 500;
  }
  &-semi {
    font-family: "WorkSansMedium"; // use this for font-weight:500
    font-weight: 500;
  }
  &-regular {
    font-family: "WorkSansReg"; // use this for font-weight:400
    font-weight: 400;
  }
}

.font {
  &-32 {
    font-size: $font-size-32;
    line-height: $line-height-40;
    letter-spacing: $letter-spacing-30;
    color: $primary;
  }
  &-24 {
    font-size: $font-size-24;
    line-height: $line-height-36;
    letter-spacing: $letter-spacing-2;
    color: $primary;
  }
  &-24-lh-32 {
    font-size: $font-size-24;
    line-height: $line-height-32;
    letter-spacing: $letter-spacing-2;
    color: $primary;
  }
  &-20 {
    font-size: $font-size-20;
    line-height: $line-height-32;
    letter-spacing: $letter-spacing-40;
    color: $primary;
  }
  &-19 {
    font-size: $font-size-19;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-40;
    color: $primary;
  }
  &-17 {
    font-size: $font-size-17;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-28;
    color: $primary;
  }
  &-15 {
    font-size: $font-size-15;
    line-height: $line-height-22;
    letter-spacing: $letter-spacing-28;
    color: $primary;
  }
  &-14 {
    font-size: $font-size-14;
    line-height: $line-height-20;
    letter-spacing: $letter-spacing-40;
    color: $primary;
  }
  &-14-lh-17 {
    font-size: $font-size-14;
    line-height: $line-height-17;
    letter-spacing: $letter-spacing-40;
    color: $primary;
  }
  &-13 {
    font-size: $font-size-13;
    line-height: $line-height-20;
    letter-spacing: $letter-spacing-25;
    color: $primary;
  }
  &-11 { 
    font-size: $font-size-11;
    line-height: $line-height-20;
    letter-spacing: $letter-spacing-25;
    color: $primary;
  }
  &-11-lh-16 { 
    font-size: $font-size-11;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-25;
    color: $primary;
  }
  &-11-lh-14 { 
    font-size: $font-size-11;
    line-height: $line-height-16;
    letter-spacing: $letter-spacing-25;
    color: $primary;
  }
  &-9 { 
    font-size: $font-size-9;
    line-height: $line-height-14;
    letter-spacing: $letter-spacing-25;
    color: $primary;
  }
  &-8 { 
    font-size: $font-size-8;
    line-height: $line-height-12;
    letter-spacing: $letter-spacing-25;
    color: $primary;
  }
  &-bold {
    font-family: "WorkSansSemiBold"; // use this for font-weight:600
    font-weight: 600;
  }
  &-medium {
    font-family: "WorkSansMedium"; // use this for font-weight:500
    font-weight: 500;
  }
  &-regular {
    font-family: "WorkSansReg"; // use this for font-weight:400
    font-weight: 400;
  }
  &-normal {
    font-family: "WorkSansReg"; // use this for font-weight:400
    font-weight: 400;
  }
}

// alignment
.text-left {
  text-align: left;
}

// size
.text-smallest {
  font-size: 0.7rem;
}
.text-smaller {
  font-size: 0.8rem;
}
.text-small {
  font-size: 0.9rem;
}
.text-normal {
  font-size: 1rem;
}
.text-title {
  font-size: 1.5rem;
}
.text-white {
  color: $white;
}
