<template>
  <div class="chart-wrapper">
   <!------------------ Tooltip ------------------>
    <div
      class="tooltip"
      v-show="tooltipData.show"
      :style="`left: ${tooltipData.x}px; top:${tooltipData.y}px`"
      @mouseenter="tooltipMouseEnter"
    >
      <div class="tooltip-north-stars text-white">
        <h3 class="tooltip-year font-11 text-white">
          {{ tooltipData.company.x }}
          <span class="tooltip-text-color">{{ tooltipData.data.x }}</span>
        </h3>
        <h4 class="tooltip-north-star-text tooltip-font-7">
          {{ tooltipData.company.x }} PROJECTION
        </h4>
        <div class="tooltip-company">
          <div class="tooltip-company-legend font-9 text-white">
            <div
              v-if="tooltipData.company.y"
              class="tooltip-company-legend-color"
              :style="`background-color: ${currentCompany.companyColor}`"
            ></div>
            <div v-else class="flex-row">
              <div class="tooltip-company-legend-nodata"></div>
              <div class="tooltip-company-legend-nodata"></div>
            </div>
            <p
              :class="[
                'tooltip-company-legend-name',
                tooltipData.company.y ? null : 'm-l-4',
              ]"
            >
              {{ tooltipData.company.y ? tooltipData.company.name : 'No Data' }}
            </p>
          </div>
          <span class="tooltip-company-value font-9 text-white">
            {{
              tooltipData.company.y
                ? convertData(tooltipData.company.y, percentage, 1)
                : '--'
            }}
          </span>
        </div>
        <h4 class="tooltip-north-star-text tooltip-font-7">
          Companies {{ tooltipData.data.x }}
        </h4>
        <div v-if="!tooltipData.data.y.length" class="tooltip-company">
          <div class="tooltip-company-legend font-9 text-white">
            <div class="flex-row">
              <div class="tooltip-company-legend-nodata"></div>
              <div class="tooltip-company-legend-nodata"></div>
            </div>
            <p class="tooltip-company-legend-name m-l-4">No Data</p>
          </div>
          <span class="tooltip-company-value font-9 text-white">{{
            '--'
          }}</span>
        </div>
        <div
          v-else
          class="tooltip-company"
          v-for="(company, index) in tooltipData.data.y"
          :key="index"
        >
          <div class="tooltip-company-legend font-9 text-white">
            <div
              class="tooltip-company-legend-color"
              :style="`background-color: ${company.color}`"
            ></div>
            <p v-if="company.name" class="tooltip-company-legend-name">
              {{ company.name }}
            </p>
          </div>
          <span class="tooltip-company-value font-9 text-white">
            {{ convertData(company.value, percentage, 1) }}
          </span>
        </div>
      </div>
      <div class="tooltip-base-company">
        <h4 class="tooltip-base-company-name tooltip-font-7">
          {{ currentCompany.name }}
        </h4>
        <div class="tooltip-base-company-stats">
          <p class="tooltip-base-company-stats-item font-9 tooltip-text-color">
            Plan rate:
            <span class="text-white">{{
              planRate ? convertData(planRate, percentage, 1) : 'No Data'
            }}</span>
          </p>
          <p class="tooltip-base-company-stats-item font-9 tooltip-text-color">
            Runrate:
            <span class="text-white">{{
              runRate ? convertData(runRate, percentage, 1) : 'No Data'
            }}</span>
          </p>
        </div>
      </div>
    </div>
    <svg :width="width" :height="height" ref="lineAreaGraphComp">
       <!------------------ Linear Gradient ------------------>
      <defs>
        <linearGradient
          id="line-area-gradient"
          gradientUnits="userSpaceOnUse"
          x1="0"
          x2="0"
          :y1="gardientY1"
          :y2="gardientY2"
        >
          <stop
            offset="0%"
            :stop-color="currentCompany.companyColor"
            stop-opacity="0.01"
          />
          <stop
            offset="20%"
            :stop-color="currentCompany.companyColor"
            stop-opacity="0.05"
          />
          <stop
            offset="40%"
            :stop-color="currentCompany.companyColor"
            stop-opacity="0.08"
          />
          <stop
            offset="60%"
            :stop-color="currentCompany.companyColor"
            stop-opacity="0.15"
          />
          <stop
            offset="100%"
            :stop-color="currentCompany.companyColor"
            stop-opacity="0.25"
          />
        </linearGradient>
      </defs>
      <!------------------ Clippath ------------------>
      <clipPath id="line-area-clip"><rect></rect></clipPath>
      <g ref="chart">
        <g>
          <path
            class="staticpath"
            stroke="#BEBEBF"
            opacity="1"
            stroke-linejoin="round"
            clip-path="url(#line-area-clip)"
            :d="staticLineGenerator(planRateData)"
          ></path>
          <path
            class="staticpath"
            stroke="#BEBEBF"
            opacity="1"
            stroke-linejoin="round"
            clip-path="url(#line-area-clip)"
            :d="staticLineGenerator(runRateData)"
          ></path>
          <!------------------ Multi Line ------------------>
          <path
            class="linepath"
            opacity="1"
            fill="none"
            :stroke="line.color"
            stroke-linejoin="round"
            v-for="(line, index) in lineGenerator"
            :key="index"
            :d="line.generator(graphData)"
            clip-path="url(#line-area-clip)"
          ></path>
          <!-------------------- Area -------------------->
          <path
            class="arealinefill"
            stroke="none"
            stroke-linejoin="round"
            fill="url(#line-area-gradient)"
            :d="areaGenerator(areaGraphData)"
            clip-path="url(#line-area-clip)"
          ></path>
          <path
            class="areapath"
            :stroke="currentCompany.companyColor"
            :stroke-width="3"
            opacity="1"
            stroke-linejoin="round"
            :d="areaLineGenerator(areaGraphData)"
            clip-path="url(#line-area-clip)"
          ></path>
        </g>
        <!------------------ Tooltip Line, Triangle and Circle------------------>
        <line
          v-if="lineLocation.opacity"
          class="tooltipline"
          v-bind="lineLocation"
        ></line>
        <g v-if="topAngleLocation.opacity" v-bind="topAngleLocation">
          <path d="M5 4L9.33013 0.25H0.669873L5 4Z" fill="#BEBEBF" />
        </g>
        <g v-if="bottomAngleLocation.opacity" v-bind="bottomAngleLocation">
          <path
            d="M5 0.898438L9.33013 4.64844H0.669873L5 0.898438Z"
            fill="#BEBEBF"
          />
        </g>
        <g v-for="(circle, index) in lineCircleLocation" :key="index">
          <circle
            v-if="circle.opacity"
            class="circle"
            :stroke="circle.color"
            v-bind="circle"
          ></circle>
        </g>
        <circle
          v-if="areaCircleLocation.opacity"
          class="circle"
          :stroke="currentCompany.companyColor"
          v-bind="areaCircleLocation"
        ></circle>
      </g>
    </svg>
  </div>
</template>

<script>
import {
  axisBottom,
  axisLeft,
  line,
  scaleLinear,
  select,
  pointer,
  area,
  min,
  max
} from 'd3'
import { computed, onMounted, ref } from 'vue'
import {
  convertData,
  graphColorPatterns,
  currentCompany
} from '@/utils/helper.js'

export default {
  name: 'LineAreaGraph',
  props: {
    width: {
      type: Number,
      default: 923
    },
    height: {
      type: Number,
      default: 350
    },
    margin: {
      type: Object,
      default: () => {
        return {
          top: 20,
          right: 30,
          bottom: 40,
          left: 40
        }
      }
    },
    areaGraphData: {
      type: Array,
      default: () => []
    },
    graphData: {
      type: Array,
      default: () => []
    },
    companies: {
      type: Array,
      default: () => ['Engati', 'PeopleHum', 'piMonk', 'Quinbay']
    },
    range: {
      type: Object,
      default: () => {
        return {
          max: 40,
          min: 0
        }
      }
    },
    percentage: {
      type: String,
      default: 'currency'
    },
    planRate: {
      type: Number,
      default: 23
    },
    runRate: {
      type: Number,
      default: 28
    }
  },
  setup (props) {
    const chart = ref(null)
    const lineAreaGraphComp = ref(null)
    const tooltipData = ref({
      x: 0,
      y: 0,
      data: {
        x: 'IPO',
        y: [...Array(props.companies.length).keys()].map((i) => {
          return {
            color: '',
            name: props.companies[i],
            value: 0
          }
        })
      },
      company: {
        x: 'IPO',
        y: '',
        name: 'Blibli'
      },
      show: false
    })

    const lineLocation = ref({ stroke: 'none' })
    const topAngleLocation = ref({ opacity: 0 })
    const bottomAngleLocation = ref({ opacity: 0 })
    const areaCircleLocation = ref({ opacity: 0 })
    const lineCircleLocation = ref(
      [...Array(props.companies.length).keys()].map((_) => {
        return {
          opacity: 0
        }
      })
    )

    const planRateData = [...Array(props.areaGraphData.length).keys()].map(
      (i) => {
        return {
          y: props.planRate
        }
      }
    )
    const runRateData = [...Array(props.areaGraphData.length).keys()].map(
      (i) => {
        return {
          y: props.runRate
        }
      }
    )

    /***
     * X-scale and Y-scale
     */

    const innerHeight = props.height - props.margin.top - props.margin.bottom
    const innerWidth = props.width - props.margin.left - props.margin.right

    const xScale = computed(() => {
      return scaleLinear()
        .rangeRound([0, innerWidth])
        .domain([0, props.graphData.length - 1])
        .nice()
    })

    const yScale = computed(() => {
      return scaleLinear()
        .rangeRound([innerHeight, 0])
        .domain([props.range.min > 0 ? 0 : props.range.min, props.range.max])
        .nice()
    })

    const findColor = (key) => {
      let color
      props.graphData.forEach((data) => {
        if (data[`y${key}`]) {
          color = graphColorPatterns[data[`y${key}`].index + 3].color
        }
      })
      return color
    }

    /***
     * Line and Area Generator
     */

    const lineGenerator = [...Array(props.companies.length).keys()].map(
      (key) => {
        return {
          generator: line()
            .defined((d) => d[`y${key}`].value === 0 ? true : Boolean(d[`y${key}`].value) && !isNaN(d[`y${key}`].value))
            .x((_, i) => xScale.value(i))
            .y((d) => yScale.value(d[`y${key}`].value)),
          color: findColor(key)
        }
      }
    )

    const areaGenerator = area()
      .defined((d) => (d.y === 0 ? true : Boolean(d.y) && !isNaN(d.y)))
      .y0(yScale.value(0))
      .y1((d) => yScale.value(d.y))
      .x((_, i) => xScale.value(i))

    const areaLineGenerator = line()
      .defined((d) => (d.y === 0 ? true : Boolean(d.y) && !isNaN(d.y)))
      .x((_, i) => xScale.value(i))
      .y((d) => yScale.value(d.y))

    const staticLineGenerator = line()
      .defined((d) => (d.y === 0 ? true : Boolean(d.y) && !isNaN(d.y)))
      .x((_, i) => xScale.value(i))
      .y((d) => yScale.value(d.y))

    /***
     * Gradient
     */

    const maxYArea = max(props.areaGraphData, (d) => d.y)
    let minYArea = min(props.areaGraphData, (d) => d.y)
    if (minYArea === maxYArea) {
      minYArea = 0
    }
    const gardientY1 = yScale.value(minYArea)
    const gardientY2 = yScale.value(maxYArea)

    /***
     *  Remove Tooltip
     */

    const removeTooltip = () => {
      tooltipData.value.show = false
      lineLocation.value.opacity = 0
      topAngleLocation.value.opacity = 0
      bottomAngleLocation.value.opacity = 0
      lineCircleLocation.value.forEach((el) => {
        el.opacity = 0
      })
      areaCircleLocation.value.opacity = 0
    }

    /***
     *  Draw Tooltip
     */

    const drawTooltip = (event) => {
      const year = Math.round(xScale.value.invert(pointer(event)[0]))
      const yAreaValue =
        props.areaGraphData[year].y &&
        yScale.value(props.areaGraphData[year].y)

      lineLocation.value = {
        x1: 0,
        y1: 0,
        x2: 0,
        y2: innerHeight,
        opacity: 1,
        style: {
          transform: `translate(${xScale.value(year)}px, 0px)`,
          transition: 'transform 0.3s ease-out'
        }
      }

      topAngleLocation.value = {
        x: 0,
        y: 0,
        style: {
          transform: `translate(${xScale.value(year) - 5}px, 0px)`,
          transition: 'transform 0.3s ease-out'
        },
        opacity: 1
      }

      bottomAngleLocation.value = {
        x: 0,
        y: 0,
        style: {
          transform: `translate(${xScale.value(year) - 5}px, ${
            innerHeight - 5
          }px)`,
          transition: 'transform 0.3s ease-out'
        },
        opacity: 1
      }

      lineCircleLocation.value.forEach((el, index) => {
        const yValue = yScale.value(props.graphData[year][`y${index}`].value)
        el.cx = 0
        el.cy = 0
        el.r = 2.5
        el.style = {
          transform: `translate(${xScale.value(year)}px, ${yValue}px)`,
          transition: 'transform 0.3s ease-out'
        }
        el.opacity = 1
        el.color = findColor(index)
      })

      areaCircleLocation.value = {
        cx: 0,
        cy: 0,
        r: 2.5,
        style: {
          transform: `translate(${xScale.value(year)}px, ${yAreaValue - 1}px)`,
          transition: 'transform 0.3s ease-out'
        },
        opacity: 1,
        color: '#FF5F3C'
      }

      tooltipData.value = {
        x: calculateX(year),
        y: props.margin.top,
        data: {
          x: props.graphData[year].x,
          y: populateCurrentValues(year)
        },
        company: {
          x: props.areaGraphData[year].x,
          y: props.areaGraphData[year].y,
          name: currentCompany.name
        },
        show: true
      }
    }

    const populateCurrentValues = (year) =>
      [...Array(props.companies.length).keys()]
        .map((key) => {
          return {
            value: props.graphData[year][`y${key}`],
            name: props.companies[key],
            color: findColor(key)
          }
        })
        .filter((el) => el.value)

    const tooltipMouseEnter = () => {
      tooltipData.value.show = true
      lineLocation.value.opacity = 1
      topAngleLocation.value.opacity = 1
      bottomAngleLocation.value.opacity = 1
      lineCircleLocation.value.forEach((el) => {
        el.opacity = el.style.transform ? 1 : 0
      })
      areaCircleLocation.value.opacity = areaCircleLocation.value.style
        .transform
        ? 1
        : 0
    }

    const calculateX = (year) => {
      let x = props.margin.left + xScale.value(year) + 8
      if (year === 4 || (year === 2 && props.graphData.length === 3)) {
        x -= 195
      }
      return x
    }

    /***
    *  Animation
    */

    const animateGraph = () => {
      const svg = select(lineAreaGraphComp.value)
      const clip = svg.select('clipPath')
      const clipRect = clip
        .select('rect')
        .attr('width', 0)
        .attr('height', innerHeight)
      clipRect.transition().duration(1500).attr('width', innerWidth)
    }

    onMounted(() => {
      const g = select(chart.value)
      g.attr(
        'transform',
        `translate(${props.margin.left}, ${props.margin.top})`
      )

      /***
      *  Y axis
      */
      const yAxis = g.append('g')

      yAxis.attr('class', 'y-axis').call(
        axisLeft(yScale.value)
          .ticks(10, 'f')
          .tickSize(0)
          .tickPadding(10)
          .tickFormat((d) => convertData(d, props.percentage, 0, false))
      )

      yAxis.select('.domain').attr('opacity', 0)

      /***
      *  Grid
      */
      g.append('g')
        .attr('class', 'grid-complete')
        .call(
          axisLeft(yScale.value)
            .tickSize(-innerWidth, 0, 0)
            .ticks(10)
            .tickFormat((_) => '')
        )

      /***
      *  X axis
      */

      const xAxis = g.append('g')
      xAxis
        .attr('class', 'axis')
        .call(
          axisBottom(xScale.value)
            .tickSize(0)
            .ticks(props.areaGraphData.length)
            .tickFormat((_, i) => {
              if (i < props.areaGraphData.length) { return props.areaGraphData[i].x + ' ' }
              return ''
            })
        )
        .attr('transform', `translate(0, ${innerHeight})`)

      /***
      *  Sub Text on X axis
      */
      xAxis
        .selectAll('text')
        .data(props.graphData)
        .append('tspan')
        .attr('class', 'axis-subtext')
        .text((d) => d.x)

      xAxis.selectAll('text').attr('y', 9)

      /***
      *  First and Last tick text on X axis
      */
      xAxis
        .select('.axis .tick:last-of-type text')
        .style('text-anchor', 'end')

      xAxis
        .select('.axis .tick:first-of-type text')
        .style('text-anchor', 'start')

      /***
      *  Tooltip events
      */
      g.append('rect')
        .attr('width', innerWidth - 10)
        .attr('height', innerHeight)
        .attr('opacity', 0)
        .on('mousemove', drawTooltip)
        .on('mouseout', removeTooltip)
    })

    return {
      chart,
      tooltipData,
      xScale,
      yScale,
      areaGenerator,
      areaLineGenerator,
      lineGenerator,
      staticLineGenerator,
      lineLocation,
      topAngleLocation,
      bottomAngleLocation,
      areaCircleLocation,
      lineCircleLocation,
      tooltipMouseEnter,
      removeTooltip,
      convertData,
      animateGraph,
      gardientY1,
      gardientY2,
      planRateData,
      runRateData,
      findColor,
      lineAreaGraphComp,
      currentCompany
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/style/color-library.scss";
@import "@/style/font-library.scss";

.chart-wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  width: 179px;
  height: 131px;
  z-index: 4;
  border-radius: 8px;
  transition: left 0.3s ease-out;
  box-sizing: border-box;

  &-north-stars {
    background-color: $primary;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 12px;
  }

  &-year {
    font-weight: 500;
    font-family: 'WorkSansMedium';
  }

  &-north-star-text {
    color: $tooltip-text;
    margin-top: 8px;
  }

  &-company {
    display: flex;
    justify-content: space-between;
    font-family: 'WorkSansReg';
    font-weight: 400;

    &-legend {
      display: flex;
      align-items: center;
      font-weight: 400;

      &-color {
        width: 8px;
        height: 2px;
        border-radius: 2px;
        margin-right: 6px;
      }
      &-nodata {
        width: 4px;
        height: 2px;
        border-radius: 2px;
        margin-right: 2px;
        background-color: $no-data;
      }

      &-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &-base-company {
    padding: 8px 12px 12px;
    background-color: $tooltip-background;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    &-stats {
      display: flex;

      &-item {
        margin-right: 8px;
      }
    }
  }
  &-text-color {
    color: $tooltip-text;
  }
  &-font-7 {
    font-family: 'WorkSansMedium';
    font-weight: 500;
    font-size: 7px;
    line-height: 16px;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: $tooltip-text;
  }
}
.legends-section {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.legend {
  display: flex;
  align-items: center;
  margin-right: 24px;

  &-icon {
    height: 6px;
    width: 6px;
    margin-right: 4px;
    border-radius: 50%;
  }
}

.m-l-4 {
  margin-left: 4px;
}
</style>
