<template>
  <div :style="`width: ${width}px; height: ${width}px;`" class="progress-wheel-container">
    <svg class="svg-container">
      <circle
        class="progress-background"
        :cx="radius+(strokeWidth / 2)"
        :cy="radius+(strokeWidth / 2)"
        :r="radius"
        :stroke="backgroundColor"
        :stroke-width="strokeWidth"
      ></circle>
      <circle
        :id="'progress-wheel-circle'"
        class="progress-stroke"
        :stroke="strokeColor"
        :cx="radius+(strokeWidth / 2)"
        :cy="radius+(strokeWidth / 2)"
        :r="radius"
        :stroke-width="strokeWidth"
        :style="`stroke-dasharray: ${circumference} ${circumference}; stroke-dashoffset: ${circumference}`"
      ></circle>
    </svg>
    <div id="center-score-value" class="font-24 title-bold">
      {{ progressValue }}%
    </div>
  </div>
</template>

<script>
import { computed, onMounted, ref } from 'vue'
export default {
  name: 'ProgressWheel',
  props: {
    width: {
      type: Number,
      default: 0
    },
    strokeWidth: {
      type: Number,
      default: 0
    },
    progress: {
      type: Number,
      default: 0
    },
    strokeColor: {
      type: String,
      default: ''
    },
    backgroundColor: {
      type: String,
      default: ''
    }

  },
  setup (props, { emit }) {
    const radius = computed(() => ((props.width) / 2 - props.strokeWidth / 2))
    const circumference = computed(() => Math.PI * 2 * radius.value)
    const progressValue = ref(0)
    const setProgress = (percent, circle) => {
      const offset = circumference.value - percent / 100 * circumference.value
      if (circle) {
        circle.style.strokeDashoffset = offset
      }
    }
    const animateValue = (start, end, duration, circle) => {
      if (start === end) return
      const range = end - start
      const stepTime = Math.abs(Math.floor(duration / range))
      const timer = setInterval(() => {
        progressValue.value = progressValue.value + 1
        if (progressValue.value === end) {
          clearInterval(timer)
        }
      }, stepTime)
    }
    onMounted(() => {
      const circle = document.querySelector('#progress-wheel-circle')
      if (circle) {
        circle.style.strokeDasharray = `${circumference.value} ${circumference.value}`
        circle.style.strokeDashoffset = circumference.value
      }
      setTimeout(() => {
        setProgress(props.progress, circle)
      }, 300)
      animateValue(0, props.progress, 1050, circle)
    })
    return {
      circumference,
      progressValue,
      radius
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/style/color-library.scss";
@import "@/style/font-library.scss";

.progress-wheel-container {
  position: relative;
}
.svg-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: rotate(-90deg);
  circle {
    fill: transparent;
  }
}
.progress-background {
  box-sizing: border-box;
}
.progress-stroke {
  box-sizing: border-box;
  transition: stroke-dashoffset 0.75s linear;
}
#center-score-value {
  position: absolute;
  display: flex;
  top: 0px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: $white;
}
</style>
